.table {
    display: table;
}

.header {
    display: table-header-group;
    font-weight: bold;
    font-size: large;
}

.rowGroup {
    display: table-row-group;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    width: 1%;
}

.error {
    color: red;
}