<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Addresses</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="../static/css/buttons.css" th:href="@{/css/buttons.css}" rel="stylesheet"/>

</head>
<body>
<!--NAVBAR-->
<nav th:replace="navbar.html :: navbar-form"></nav>

<!--CRUD and More Buttons-->
<div id="outer" style="margin-top: 150px">
    <button class="button button2" onclick="toggleHideButton()">Create</button>
    <button class="button button2" onclick="toggleHideButton2()">Update</button>
    <button class="button button2" onclick="toggleHideButton3()">Delete</button>
    <button class="button button2">More</button>
    <div class="hidden" id="createDIV">
        Create requires new Address and city ID. You can check the IDs by searching the City or Country in the search bar below.
        <form onsubmit="createProfile()" id="registrationForm">
            New Address: <input type="text" name="address"> <br/>
            City ID : <input type="text" name="address_id" /> <br/>
            <input type="submit" value="Create" />
        </form>
    </div>
    <div class="hidden" id="updateDIV">
        This is my Update element.
    </div>
    <div class="hidden" id="deleteDIV">
        This is my Delete element.
    </div>
</div>
<!-- JavaScript for hiding buttons-->
<script>
    function toggleHideButton() {
        var x = document.getElementById("createDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function toggleHideButton2() {
        var x = document.getElementById("updateDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function toggleHideButton3() {
        var x = document.getElementById("deleteDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
<!-- JavaScript for Create-->
<script>
    function createProfile()
    {
        var data = $("#registrationForm").serializeArray();
        $.ajax({
            method:      'POST',
            url:         'http://localhost:8080/warehouses',
            headers:      {'Authorization':'a.d@gmail.com'},
            dataType:    'JSON', //You can also define this as Json
            data:         data,
            success:      function() {
                console.log("Success!")},
            error:        function(error) {
                console.log("Error!", err)
            }
        });
    }
</script>
<!-- HTML Search bar-->
<div class="row">
    <div class="col">
        <div class="card card-body">
            <p>Search by address or id. Combined filtration and sort is allowed.
                City and Country ID are excluded from search.</p>
            <input id="search-input" class="form-control" type="text">
        </div>
    </div>
</div>
<table class="table table-striped">
    <tr  class="bg-info">
        <th data-column="id" data-order="desc">ID &#9660</th>
        <th data-column="address" data-order="desc">Warehouse Address &#9660</th>
        <th data-column="cityCountry" data-order="desc">City[ID] & Country[ID] Location &#9660</th>
    </tr>

    <tbody id="myTable">

    </tbody>
</table>
<!-- JavaScript for Table and Search bar-->
<script>
    var myArray = []


    $.ajax({
        method:'GET',
        headers: {'Authorization':'a.d@gmail.com'},
        url:'http://localhost:8080/api/addresses',
        success:function(response){
            myArray = response
            buildTable(myArray)
            console.log(myArray)
        }
    })

    $('#search-input').on('keyup', function (){
        var value = $(this).val()
        console.log('Value:', value)
        var data = searchTable(value, myArray)
        buildTable(data)
    })

    function searchTable(value, data){
        var filteredData = []
        for (var i = 0; i < data.length; i++){
            value = value.toLowerCase()
            var id = data[i].id
            var address = data[i].address.toLowerCase()
            var cityCountry = data[i].city.name.toLowerCase() + ", " +
                data[i].city.country.name.toLowerCase()
            if (id == value ||
                address.includes(value) ||
                cityCountry.includes(value))
            {
                filteredData.push(data[i])
            }
        }
        return filteredData
    }

    $('th').on('click', function(){
        var column = $(this).data('column')
        var order = $(this).data('order')
        console.log('Column was clicked', column, order)
        var text = $(this).html()
        text = text.substring(0, text.length -1)

        if (order == 'desc'){
            $(this).data('order', 'asc')
            myArray = myArray.sort((a,b) => a[column] < b[column] ? 1 : -1)
            text += '&#9650'
        } else {
            $(this).data('order', 'desc')
            myArray = myArray.sort((a,b) => a[column] > b[column] ? 1 : -1)
            text += '&#9660'
        }
        $(this).html(text)
        buildTable(myArray)
    })

    buildTable(myArray)

    function buildTable(data){
        var table = document.getElementById('myTable')
        table.innerHTML = ''
        for (var i = 0; i < data.length; i++){
            var row = `<tr>
							<td>${data[i].id}</td>
							<td>${data[i].address}</td>
							<td>${data[i].city.name + " [" + data[i].city.id + "]" + ", " +
             data[i].city.country.name + " [" + data[i].city.country.id + "]"}</td>
					  </tr>`
            table.innerHTML += row
        }
    }

</script>
</body>
</html>