<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>DeliverIT - A.D. & V.V.</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet">
</head>

<!--NAVBAR-->
<nav th:replace="navbar.html :: navbar-form"></nav>

<body>

<div style="    display: block;
                padding-top: 120px;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
                height: 50px">

    <h2 style="font-size: xx-large; text-align: center" th:text="#{welcome.message} ">Welcome to DeliverIT</h2>
    <br/>
    <h3 style="font-size: x-large; text-align: center" th:text="#{what.we.do.message}">We deliver parcels</h3>
    <br/>

    <!--    ALL PARCELS-->
    <h5 style="text-align: center">Number of delivered parcels:
        <a th:text="${parcelsCount}" style="color: #16181b ">33</a></h5>

    <!--    ALL USERS-->
    <h5 style="text-align: center">Number of customers:
        <a th:text="${userCount}" style="color: #16181b ">22</a></h5>
    <br/>

    <img class="mySlides" src="../static/images/bussiness1.png" th:src="@{/images/bussiness1.png}" style="width:100%">
    <img class="mySlides" src="../static/images/bussiness2.jpg" th:src="@{/images/bussiness2.jpg}" style="width:100%">
    <img class="mySlides" src="../static/images/bussiness3.jpg" th:src="@{/images/bussiness3.jpg}" style="width:100%">
    <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) {
                myIndex = 1
            }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 2000); // Change image every 2 seconds
        }
    </script>
    <br/>

    <!--    ALL ADDRESSES-->
    <h5 style="text-align: center">All warehouse addresses:
        <div th:each="warehouse : ${allWarehouses}">
            <h5>
                <a href="#" style="color: #16181b; text-align: center"
                   th:text="${warehouse.getAddress().getCity().getName()} + ' ' +
               ${warehouse.getAddress().getAddress()}">All Addresses and Cities</a>
            </h5>
        </div>
    </h5><br/><br/><br/>


</div>

</body>

</html>