<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<!--NAVBAR-->
<nav th:replace="navbar.html :: navbar-form"></nav>

<header class="masthead bg-primary text-white text-center">
    <div class="row" style="width: 30%;">
        <div class="col-md-9 col-lg-8 mx-auto">
            <h3 class="login-heading mb-4">Welcome back!</h3>
            <form th:action="@{/login}" method="post" th:object="${loginDto}">
                <div class="form-label-group" >
                    <input type="text" id="usernameInput" class="form-control"
                           placeholder="Username" required
                           autofocus th:field="*{username}">
                    <label for="usernameInput">Username</label>
                    <p th:errors="*{username}">Username error</p>
                </div>

                <div class="form-label-group">
                    <input type="password" id="inputPassword" class="form-control"
                           placeholder="Password" required th:field="*{password}">
                    <label for="inputPassword">Password</label>
                </div>

                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Remember password</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                        type="submit">Sign in
                </button>
                <div class="text-center">
                    <a class="small" href="#">Forgot password?</a></div>
            </form>
        </div>
    </div>
</header>

</body>
</html>