<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<nav th:fragment="navbar-form" class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" href="/">DeliverIT</a>
        <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button"
                data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <!--FOR ANONYMOUS USERS-->
                <li th:if="${currentUser == null}" class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                       href="#" th:href="@{/login}">LOGIN</a>
                </li>
                <li th:if="${currentUser == null}" class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                       href="#" th:href="@{/register}">REGISTER</a>
                </li>

                <!--FOR EMPLOYEES-->
                <li th:if="${currentUser != null && currentUser.isEmployee()}" class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                       href="#" th:href="@{/parcels}">PARCELS</a>
                </li>
                <li th:if="${currentUser != null && currentUser.isEmployee()}" class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                       href="#" th:href="@{/shipments}">SHIPMENTS</a>
                </li>
                <li th:if="${currentUser != null && currentUser.isEmployee()}" class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                       href="#" th:href="@{/users}">USERS</a>
                </li>
                <li th:if="${currentUser != null && currentUser.isEmployee()}" class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                       href="#" th:href="@{/warehouses}">WAREHOUSES</a>
                </li>
                <li th:if="${currentUser != null && currentUser.isEmployee()}" class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                       href="#" th:href="@{/addresses}">ADDRESSES</a>
                </li>

                <!--FOR CUSTOMERS-->
                <li th:if="${currentUser != null && currentUser.isCustomer()}" class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                       href="#" th:href="@{/parcels/userParcels}">MY PARCELS</a>
                </li>

                <!--FOR EMPLOYEES and CUSTOMERS-->
                <!--UserNameDisplay-->
                <li th:if="${currentUser != null && (currentUser.isCustomer() || currentUser.isEmployee())}"
                    class="nav-item mx-0 mx-lg-1">
                    <div class="py-3 px-0 px-lg-3 rounded" style="color: white"
                         th:text="${session.currentUserFirstName + ' '
                                    + session.currentUserLastName}">User Name</div>
                </li>

                <li th:if="${currentUser != null && (currentUser.isCustomer() || currentUser.isEmployee())}"
                    class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                       href="#" th:href="@{/logout}">LOGOUT</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

</body>
</html>