<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Not found</title>
    </head>

    <body>
        <h2 th:text="#{error.page}">Page not found!</h2>
    </body>
</html>