<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Parcel form</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<form th:fragment="parcel-form" action="#"
      th:action="@{__${#httpServletRequest.requestURI}__}"
      th:object="${parcel}" method="post" >

    <!--WAREHOUSE-->
    <label th:text="#{parcel.warehouse}">Warehouse</label>
    <br/>
    <!--    warehouseID comes from Warehouse object field in parcelsDto obj-->
    <select class="selectMY" th:field="*{warehouseID}">
        <!--        $warehouses is from ParcelMvcController populate method-->
        <!--        and other 2 under from normal object warehouse?-->
        <option th:each="warehouse : ${warehouses}"
                th:value="${warehouse.getPrimary_key()}"
                th:text="${warehouse.getAddress().getAddress()}">
            WarehouseAddresses
        </option>
    </select>
    <p class="error" th:errors="*{warehouseID}">Warehouse error placeholder</p>
    <br/><br/>

    <!--WEIGHT-->
    <label th:text="#{parcel.weight}">Weight</label>
    <br/>
    <input class="selectMY" type="number" step="0.1" th:field="*{weight}"/>
    <p class="error" th:errors="*{weight}">Weight error placeholder</p>
    <br/><br/>

    <!--CATEGORY-->
    <label th:text="#{parcel.category}">Category</label>
    <br/>
    <select class="selectMY" th:field="*{categoryID}">
        <option th:each="category : ${categories}"
                th:value="${category.getId()}"
                th:text="${category.getCategory()}">
            Categories
        </option>
    </select>
    <p class="error" th:errors="*{customerID}">Category error placeholder</p>
    <br/><br/>

    <!--CUSTOMER-->
    <label th:text="#{parcel.customer}">Customers</label>
    <br/>
    <!-- todo drop-down menu is not a good idea if we have 1000+ customers, need some kind of search-->
    <select class="selectMY" th:field="*{customerID}">
        <option th:each="customer : ${customers}"
                th:value="${customer.getId()}"
                th:text="${customer.getFirstName() + ' ' + customer.getLastName() + ' ' + customer.getEmail()}">
            Customers
        </option>
    </select>
    <p class="error" th:errors="*{customerID}">Customer error placeholder</p>
    <br/><br/>

    <!--SHIPMENT-->
    <label th:text="#{parcel.shipment}">Shipment</label>
    <br/>
    <select class="selectMY" th:field="*{shipmentID}">
        <option th:each="shipment : ${shipments}"
                th:value="${shipment.getId()}"
                th:text="${shipment.getId}">
            Shipments
        </option>
    </select>
    <p class="error" th:errors="*{shipmentID}">Shipment error placeholder</p>
    <br/><br/>

    <input type="submit" value="Save"/>
</form>

</body>
</html>