<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Parcel</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

</head>
<body>
<h2>New Parcel</h2>
<!--NAVBAR-->
<nav th:replace="navbar.html :: navbar-form"></nav>

<header class="masthead bg-primary text-white text-center position-relative">
    <form th:replace="parcel-form.html :: parcel-form"></form>
</header>

</body>
</html>