<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Parcel Full Info</title>
</head>
<body>

<header class="masthead bg-primary text-white text-center">
    <div class="tableOUR">
        <div class="headerOUR">
            <div class="cellOUR" th:text="#{parcel.id}">Id</div>
            <div class="cellOUR" th:text="#{parcel.arrival.date}">Arrival Date</div>
            <div class="cellOUR" th:text="#{parcel.departure.date}">Departure Date</div>
            <div class="cellOUR" th:text="#{parcel.category}">Category</div>
            <div class="cellOUR" th:text="#{parcel.customer}">Customer</div>
            <div class="cellOUR" th:text="#{parcel.shipment}">Shipment</div>
            <div class="cellOUR" th:text="#{parcel.warehouse}">Warehouse</div>
            <div class="cellOUR" th:text="#{parcel.weight}">Weight</div>
        </div>

        <div class="rowOUR">
            <div class="cellOUR" th:text="${parcel.getId()}">Parcel Id</div>
            <div class="cellOUR" th:text="${parcel.getShipment().getDeparture_date()}">Departure date</div>
            <div class="cellOUR" th:text="${parcel.getShipment().getArrival_date()}">Arrival date</div>
            <div class="cellOUR" th:text="${parcel.getCategory().getId()}">Category id</div>
            <div class="cellOUR" th:text="${parcel.getCustomer().getFirstName() + ' ' +
                                        parcel.getCustomer().getLastName()}">Customer name</div>
            <div class="cellOUR" th:text="${parcel.getShipment().getId()}">Shipment id</div>
            <div class="cellOUR" th:text="${parcel.getWarehouse().getAddress().getAddress()}">Warehouse address</div>
            <div class="cellOUR" th:text="${parcel.getWeight()}">Weight</div>
        </div>
    </div>
</header>

</body>
</html>