<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<!--xmlns="http://www.w3.org/1999/html"-->
<head>
    <meta charset="UTF-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    <meta name="description" content="">-->
<!--    <meta name="author" content="">-->
    <title>Parcels</title>
<!--    <link href="../static/css/testUglyStyle.css"-->
<!--          th:href="@{/css/testUglyStyle.css}" rel="stylesheet"/>-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
<!--    <link href="../static/css/styles.css" th:href="@{/css/w3.css}" rel="stylesheet">-->
<!--    <link rel="stylesheet" href="../static/css/heading.css">-->
</head>
    <body>
    <!--NAVBAR-->
    <nav th:replace="navbar.html :: navbar-form"></nav>

    <header class="masthead bg-primary text-white text-center ">
        <div th:if="${parcels.isEmpty()}">
            <h2 th:text="#{parcels.empty}">No Parcels</h2>
        </div>

        <div th:unless="${parcels.isEmpty()}">
            <h2 th:text="#{all.parcels}">We have parcels.</h2>
            <br/>

            <a class="btn btn-primary py-3 px-0 px-lg-3 rounded"
               style="color: white; font-size: larger; font-weight: bold"
               href="#" th:href="@{/parcels/new}">CREATE PARCEL</a>
            <br/>

            <a class="btn btn-primary py-3 px-0 px-lg-3 rounded"
                  style="color: white; font-size: larger; font-weight: bold"
                  href="#" th:href="@{/parcels/search}">SEARCH PARCELS</a>
            <br/><br/>

            <div class="tableOUR">
                <div class="headerOUR">
                    <div class="cellOUR" th:text="#{parcel.id}">Id</div>
<!--                    <div class="cellOUR" th:text="#{delete}">Delete</div>-->
                    <div class="cellOUR" th:text="#{parcel.arrival.date}">Arrival Date</div>
                    <div class="cellOUR" th:text="#{parcel.departure.date}">Departure Date</div>
                    <div class="cellOUR" th:text="#{parcel.category}">Category</div>
                    <div class="cellOUR" th:text="#{parcel.customer}">Customer</div>
                    <div class="cellOUR" th:text="#{parcel.shipment}">Shipment</div>
                    <div class="cellOUR" th:text="#{parcel.warehouse}">Warehouse</div>
                    <div class="cellOUR" th:text="#{parcel.weight}">Weight</div>
                </div> <br/>

                <div class="rowOUR" th:each="parcel : ${parcels}">
                    <div class="cellOUR">
                        <a href="#" style="color: #16181b"
                           th:href="@{/parcels/{id}/update(id=${parcel.getId()})}"
                           th:text="#{update} + ' ' + ${parcel.getId()}" >Parcel</a>
                    </div>
<!--                    <div class="cellOUR">-->
<!--                        <a href="#" style="color: #16181b"-->
<!--                           th:href="@{/parcels/{id}/delete(id=${parcel.getId()})}"-->
<!--                           th:text="#{delete} + ' ' + ${parcel.getId()}" >Delete</a>-->
<!--                    </div>-->
                    <div class="cellOUR" th:text="${#dates.format(
                    parcel.getShipment().getDeparture_date(), 'dd-MM-yyyy')}">Departure date</div>
                    <div class="cellOUR" th:text="${#dates.format(
                    parcel.getShipment().getArrival_date(), 'dd-MM-yyyy')}">Arrival date</div>
<!--                    "${#dates.format(shipment.getDepartureDate(), 'dd-MM-yyyy' )}"-->
                    <div class="cellOUR" th:text="${parcel.getCategory().getCategory()}">Goods</div>
                    <div class="cellOUR" th:text="${parcel.getCustomer().getFirstName() + ' ' +
                                                 parcel.getCustomer().getLastName()}">Stefan</div>
                    <div class="cellOUR" th:text="${parcel.getShipment().getId()}">1</div>
                    <div class="cellOUR" th:text="${parcel.getWarehouse().getAddress().getAddress()}">ul. Ulitca 3</div>
                    <div class="cellOUR" th:text="${parcel.getWeight()}">10.5</div>
                </div>
            </div>
        </div>
    </header>

    </body>
</html>