<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title th:text="#{one.parcel}">Parcel</title>
<!--            <link href="../static/css/testUglyStyle.css"-->
<!--                  th:href="@{/css/testUglyStyle.css}" rel="stylesheet"/>-->
        <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

    </head>
    <body>
    <!--NAVBAR-->
    <nav th:replace="navbar.html :: navbar-form"></nav>


    <header class="masthead bg-primary text-white text-center">

        <a class="btn btn-primary py-3 px-0 px-lg-3 rounded"
           style="color: white; font-size: larger; font-weight: bold"
           href="#" th:href="@{/parcels/{id}/update(id=${parcel.getId()})}">UPDATE</a>
        <br/><br/>

        <div class="tableOUR">
            <div class="headerOUR">
                <div class="cellOUR" th:text="#{parcel.id}">Id</div>
                <div class="cellOUR" th:text="#{parcel.arrival.date}">Arrival Date</div>
                <div class="cellOUR" th:text="#{parcel.departure.date}">Departure Date</div>
                <div class="cellOUR" th:text="#{parcel.category}">Category</div>
                <div class="cellOUR" th:text="#{parcel.customer}">Customer</div>
                <div class="cellOUR" th:text="#{parcel.shipment}">Shipment</div>
                <div class="cellOUR" th:text="#{parcel.warehouse}">Warehouse</div>
                <div class="cellOUR" th:text="#{parcel.weight}">Weight</div>
            </div>

            <div class="rowOUR">
                <div class="cellOUR" th:text="${parcel.getId()}">Parcel Id</div>
                <div class="cellOUR" th:text="${parcel.getShipment().getDeparture_date()}">Departure date</div>
                <div class="cellOUR" th:text="${parcel.getShipment().getArrival_date()}">Arrival date</div>
                <div class="cellOUR" th:text="${parcel.getCategory().getId()}">Category id</div>
                <div class="cellOUR" th:text="${parcel.getCustomer().getFirstName() + ' ' +
                                        parcel.getCustomer().getLastName()}">Customer name</div>
                <div class="cellOUR" th:text="${parcel.getShipment().getId()}">Shipment id</div>
                <div class="cellOUR" th:text="${parcel.getWarehouse().getAddress().getAddress()}">Warehouse address</div>
                <div class="cellOUR" th:text="${parcel.getWeight()}">Weight</div>
            </div>
        </div>
    </header>

    </body>
</html>