<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Parcels</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="../static/css/buttons.css" th:href="@{/css/buttons.css}" rel="stylesheet"/>

</head>
<body>
<!--NAVBAR-->
<nav th:replace="navbar.html :: navbar-form"></nav>

<!--CRUD and More Buttons-->
<div id="outer" style="margin-top: 150px">
    <button class="button button2" onclick="toggleHideButton()">Create</button>
    <button class="button button2" onclick="toggleHideButton2()">Update</button>
    <button class="button button2" onclick="toggleHideButton3()">Delete</button>
    <button class="button button2">More</button>
    <div class="hidden" id="createDIV">
        Create requires only warehouse ID. Dates cannot be updated before parcels are added to the shipment.
        <form onsubmit="createProfile()" id="registrationForm">
            Place of Departure : <input type="text" name="place_of_departure" /> <br />
            <div class="hidden">
                Employee ID: <input type="text" name = th:text="${currentUser.getId()}" /> <br />
            </div>
            <input type="submit" value="Create" />
        </form>
        <a class="button button2" href = "#" th:href="@{/warehouses}" th:target="_blank">Check warehouse IDs</a>
    </div>
    <div class="hidden" id="updateDIV">
        Update requires Shipment ID. Other parameters are optional.
        Dates cannot be updated before parcels are added to the shipment.
        <form onsubmit="updateProfile()" id="updateForm">
            Shipment ID : <input type="text" name="primary_key" /> <br />
            Place of Departure ID: <input type="text" name="place_of_departure" /> <br />
            Departure date : <input type="date" name="departure_date" /> <br />
            Arrival date : <input type="date" name="arrival_date" /> <br />
            <div class="hidden">
                Employee ID: <input type="text" name = th:text="${currentUser.getId()}" /> <br />
            </div>
            <input type="submit" value="Update" />
        </form>
    </div>
    <div class="hidden" id="deleteDIV">
        Delete requires only Shipment ID. You cannot delete a shipment that has parcels in it.
        <form onsubmit="deleteProfile()" id="deleteForm">
            Shipment ID : <input type="text" name="primary_key" /> <br />
            <input type="submit" value="Delete" />
    </div>
</div>
<!-- JavaScript for hiding buttons-->
<script>
    function toggleHideButton() {
        var x = document.getElementById("createDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function toggleHideButton2() {
        var x = document.getElementById("updateDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function toggleHideButton3() {
        var x = document.getElementById("deleteDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
<!-- JavaScript for Create-->
<script>
    function createProfile()
    {
        var data = $("#registrationForm").serializeArray();
        $.ajax({
            method:      'POST',
            url:         'http://localhost:8080/shipments',
            headers:      {'Authorization':'a.d@gmail.com'},
            dataType:    'JSON', //You can also define this as Json
            data:         data,
            success:      function() {
                console.log("Success!")},
            error:        function(error) {
                console.log("Error!", err)
            }
        });
    }
</script>
<!-- JavaScript for Update-->
<script>
    function updateProfile()
    {
        var data = $("#updateForm").serializeArray();
        $.ajax({
            method:      'PUT',
            url:         'http://localhost:8080/shipments',
            headers:     {'Authorization':'a.d@gmail.com'},
            dataType:    'JSON', //You can also define this as Json
            data:         data,
            success:      function() {
                console.log("Success!")},
            error:        function(error) {
                console.log("Error!", error)
            }
        });
    }
</script>
<!-- JavaScript for Delete-->
<script>
    function deleteProfile()
    {
        var data = $("#deleteForm").serializeArray();
        $.ajax({
            method:      'DELETE',
            url:         'http://localhost:8080/shipments',
            headers:     {'Authorization':'a.d@gmail.com'},
            dataType:    'JSON', //You can also define this as Json
            data:         data,
            success:      function() {
                console.log("Success!")},
            error:        function(error) {
                console.log("Error!", error)
            }
        });
    }
</script>
<!-- HTML Search bar-->
<div class="row">
    <div class="col">
        <div class="card card-body">
            <p>Search by id, date, status or address in the bar below. Combined filtration and sort is allowed.</p>
            <input id="search-input" class="form-control" type="text">
        </div>
    </div>
</div>
<!-- HTML Table Starts here-->
<table class="table table-striped">
    <tr  class="bg-info">
        <th data-column="id" data-order="desc">ID &#9660</th>
        <th data-column="weight" data-order="desc">Weight &#9660</th>
        <th data-column="warehouse" data-order="desc">Warehouse &#9660</th>
        <th data-column="category" data-order="desc">Category &#9660</th>
        <th data-column="customer" data-order="desc">Customer &#9660</th>
        <th data-column="shipment" data-order="desc">ShipmentID &#9660</th>
        <th data-column="employee" data-order="desc">Employee &#9660</th>
    </tr>

    <tbody id="myTable">

    </tbody>
</table>
<!-- JavaScript for Table and Search bar-->
<script>
    var myArrayParcel = []

    $.ajax({
        method:'GET',
        headers: {'Authorization':'a.d@gmail.com'},
        url:'http://localhost:8080/api/parcels',
        success:function(response){
            myArrayParcel = response
            buildTable(myArrayParcel)
            console.log(myArrayParcel)
        }
    })

    $('#search-input').on('keyup', function (){
        var value = $(this).val()
        console.log('Value:', value)
        var data = searchTable(value, myArrayParcel)
        buildTable(data)
    })

    function searchTable(value, data){
        var filteredDataParcel = []
        for (var i = 0; i < data.length; i++){
            value = value.toLowerCase()

            var id = data[i].id
            var weight = data[i].weight
            var warehouseAddress = data[i].address.address.toLowerCase()
            var category = data[i].category.category.toLowerCase()
            var customer = data[i].customer.firstName.toLowerCase()
                + ', ' + data[i].customer.lastName.toLowerCase()
            var shipment = data[i].shipment.id
            var employee = data[i].employee.firstName.toLowerCase()
                + ', ' + data[i].employee.lastName.toLowerCase()

            if (arrivalDate.includes(value) ||
                id == value ||
                weight == value ||
                warehouseAddress == value ||
                category.includes(value) ||
                customer == value ||
                shipment == value ||
                employee.includes(value))
            {
                filteredDataParcel.push(data[i])
            }
        }

        return filteredDataParcel
    }

    $('th').on('click', function(){
        var column = $(this).data('column')
        var order = $(this).data('order')
        console.log('Column was clicked', column, order)
        var text = $(this).html()
        text = text.substring(0, text.length -1)

        if (order == 'desc'){
            $(this).data('order', 'asc')
            myArrayParcel = myArrayParcel.sort((a,b) => a[column] < b[column] ? 1 : -1)
            // myArray = myArray.sort((a, b) => a.place_of_departure.address.address
            //     .localeCompare(b.a.place_of_departure.address.address))
            text += '&#9650'
        } else {
            $(this).data('order', 'desc')
            myArrayParcel = myArrayParcel.sort((a,b) => a[column] > b[column] ? 1 : -1)
            // myArray = myArray.sort((a, b) => a.place_of_departure.address.address
            //     .localeCompare(b.a.place_of_departure.address.address))
            text += '&#9660'
        }
        $(this).html(text)
        buildTable(myArrayParcel)
    })

    buildTable(myArrayParcel)

    function buildTable(data){
        var table = document.getElementById('myTable')
        table.innerHTML = ''
        for (var i = 0; i < data.length; i++){
            var row = `<tr>
							<td>${data[i].id}</td>
							<td>${data[i].weight}</td>
							<td>${data[i].address.address}</td>
							<td>${data[i].category.category}</td>
							<td>${data[i].customer.firstName + ', ' +
            data[i].customer.lastName}</td>
							<td>${data[i].shipment.id}</td>
							<td>${data[i].employee.firstName + ', ' +
            data[i].employee.lastName}</td>
					  </tr>`
            table.innerHTML += row
        }
    }

</script>
</body>
</html>