<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<!--NAVBAR-->
<nav th:replace="navbar.html :: navbar-form"></nav>

<!--todo center the reg form-->
<header class="masthead bg-primary text-white text-center">
    <div class="card-body" style="margin: auto; width: 20%;">
        <h5 class="card-title text-center">Register</h5>
        <form th:action="@{/register}" th:object="${registerDto}" method="post" class="form-signin">
            <div class="form-label-group">
                <input type="text" id="inputUsername"
                       th:field="*{username}"
                       class="form-control" placeholder="Username"
                       required autofocus>
                <label for="inputUsername">Username</label>
                <p th:errors="*{username}">Username do not match.</p>
            </div>
            <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control"
                       th:field="*{email}"
                       placeholder="Email address" required>
                <label for="inputEmail">Email address</label>
                <p th:errors="*{email}">Email do not match.</p>
            </div>
            <div class="form-label-group">
                <input type="password" id="inputPassword"
                       class="form-control" placeholder="Password"
                       required th:field="*{password}">
                <label for="inputPassword">Password</label>
                <p th:errors="*{password}">Passwords do not match.</p>
            </div>
            <div class="form-label-group">
                <input type="password" id="inputConfirmPassword"
                       class="form-control" placeholder="Password"
                       required th:field="*{repeatPassword}">
                <label for="inputConfirmPassword">Confirm password</label>
                <p th:errors="*{repeatPassword}">Passwords do not match.</p>
            </div>
            <div class="form-label-group">
                <input type="text" id="inputFirstName"
                       class="form-control" placeholder="First name"
                       required th:field="*{firstName}">
                <label for="inputFirstName">First name</label>
                <p th:errors="*{firstName}">Passwords do not match.</p>
            </div>
            <div class="form-label-group">
                <input type="text" id="inputLastName"
                       class="form-control" placeholder="Last name"
                       required th:field="*{lastName}">
                <label for="inputLastName">Last name</label>
                <p th:errors="*{lastName}">Passwords do not match.</p>
            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
            <a class="d-block text-center mt-2 small" href="#">Sign In</a>
        </form>
    </div>
</header>

</body>
</html>