<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <title th:text="#{one.shipment}">Shipment</title>
   <link href="../static/css/testUglyStyle.css"
            th:href="@{/css/testUglyStyle.css}" rel="stylesheet"/>
  </head>

    <ul>
        <li><h3><a href="#" th:href="@{/shipments.html}" th:text="#{to.shipments}">Back to shipments</a></h3></li>
    </ul>

  <body>
  <div class="table">
      <div class="header">
          <div class="cell" th:text="#{shipment.id}">Id</div>
          <div class="cell" th:text="#{shipment.arrival}">Arrival date</div>
          <div class="cell" th:text="#{shipment.arrival}">Departure date</div>
          <div class="cell" th:text="#{shipment.departure}">Status</div>
          <div class="cell" th:text="#{shipment.employee}">Employee ID</div>
          <div class="cell" th:text="#{shipment.list.of.parcels}">Parcels</div>
      </div>

      <div class="row">
          <div class="cell" th:text="${shipment.getId()}">Shipment ID</div>
          <div class="cell" th:text="${shipment.getArrival_date()}">Arrival date</div>
          <div class="cell" th:text="${shipment.getDeparture_date()}">Departure date</div>
          <div class="cell" th:text="${shipment.getStatus()}">Status</div>
          <div class="cell" th:text="${shipment.getEmployee_id()}">Employee ID</div>
          <div class="cell" th:text="${shipment.getListOfParcels()}">Parcels</div>
      </div>
  </div>
  </body>
  </html>