<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Shipments</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="../static/css/buttons.css" th:href="@{/css/buttons.css}" rel="stylesheet"/>

</head>
<body>
<!--NAVBAR-->
<nav th:replace="navbar.html :: navbar-form"></nav>
<!--CRUD and More Buttons-->
<div id="outer" style="margin-top: 150px">
    <button class="button button2" onclick="toggleHideButton()">Create</button>
    <button class="button button2" onclick="toggleHideButton2()">Update</button>
    <button class="button button2" onclick="toggleHideButton3()">Delete</button>
    <button class="button button2">More</button>
    <div class="hidden" id="createDIV">
        Create requires only warehouse ID. Dates cannot be updated before parcels are added to the shipment.
        <form onsubmit="createProfile()" id="registrationForm">
            Place of Departure : <input type="text" name="place_of_departure" /> <br />
            <div class="hidden">
            Employee ID: <input type="text" name = th:text="${currentUser.getId()}" /> <br />
            </div>
            <input type="submit" value="Create" />
        </form>
        <a class="button button2" href = "#" th:href="@{/warehouses}" th:target="_blank">Check warehouse IDs</a>
    </div>
    <div class="hidden" id="updateDIV">
        Update requires Shipment ID. Other parameters are optional.
        Dates cannot be updated before parcels are added to the shipment.
        <form onsubmit="updateProfile()" id="updateForm">
            Shipment ID : <input type="text" name="primary_key" /> <br />
            Place of Departure ID: <input type="text" name="place_of_departure" /> <br />
            Departure date : <input type="date" name="departure_date" /> <br />
            Arrival date : <input type="date" name="arrival_date" /> <br />
            <div class="hidden">
                Employee ID: <input type="text" name = th:text="${currentUser.getId()}" /> <br />
            </div>
            <input type="submit" value="Update" />
        </form>
    </div>
    <div class="hidden" id="deleteDIV">
        Delete requires only Shipment ID. You cannot delete a shipment that has parcels in it.
        <form onsubmit="deleteProfile()" id="deleteForm">
            Shipment ID : <input type="text" name="primary_key" /> <br />
            <input type="submit" value="Delete" />
    </div>
</div>
<!-- JavaScript for hiding buttons-->
<script>
    function toggleHideButton() {
        var x = document.getElementById("createDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function toggleHideButton2() {
        var x = document.getElementById("updateDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function toggleHideButton3() {
        var x = document.getElementById("deleteDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
<!-- JavaScript for Create-->
<script>
    function createProfile()
    {
        var data = $("#registrationForm").serializeArray();
        $.ajax({
            method:      'POST',
            url:         'http://localhost:8080/shipments',
            headers:      {'Authorization':'a.d@gmail.com'},
            dataType:    'JSON', //You can also define this as Json
            data:         data,
            success:      function() {
                console.log("Success!")},
            error:        function() {
                console.log("Error!", err)
            }
        });
    }
</script>
<!-- JavaScript for Update-->
<script>
    function updateProfile()
    {
        var data = $("#updateForm").serializeArray();
        $.ajax({
            method:      'PUT',
            url:         'http://localhost:8080/shipments',
            headers:     {'Authorization':'a.d@gmail.com'},
            dataType:    'JSON', //You can also define this as Json
            data:         data,
            success:      function() {
                console.log("Success!")},
            error:        function() {
                console.log("Error!", err)
            }
        });
    }
</script>
<!-- JavaScript for Delete-->
<script>
    function deleteProfile()
    {
        var data = $("#deleteForm").serializeArray();
        $.ajax({
            method:      'DELETE',
            url:         'http://localhost:8080/shipments',
            headers:     {'Authorization':'a.d@gmail.com'},
            dataType:    'JSON', //You can also define this as Json
            data:         data,
            success:      function() {
                console.log("Success!")},
            error:        function(error) {
                console.log("Error!", error)
            }
        });
    }
</script>
<!-- HTML Search bar-->
<div class="row">
    <div class="col" >
        <div class="card card-body" >
            <p>Search by id, date, status or address in the bar below. Combined filtration and sort is allowed.</p>
            <input id="search-input" class="form-control" type="text">
        </div>
    </div>
</div>
<!-- HTML Table Starts here-->
<table class="table table-striped" >
    <tr  class="bg-info" style="text-align: center">
        <th data-column="id" data-order="desc">ID &#9660</th>
        <th data-column="departure_date" data-order="desc">Departure Date &#9660</th>
        <th data-column="arrival_date" data-order="desc">Arrival Date &#9660</th>
        <th data-column="status" data-order="desc">Status &#9660</th>
        <th data-column="employee_id" data-order="desc">EmployeeID &#9660</th>
        <th data-column="place_of_departure" data-order="desc">Place of Departure &#9660</th>
    </tr>

    <tbody id="myTable">

    </tbody>
</table>
<!-- JavaScript for Table and Search bar-->
<script>
    var myArray = []


    $.ajax({
        method:'GET',
        headers: {'Authorization':'a.d@gmail.com'},
        url:'http://localhost:8080/api/shipments',
        success:function(response){
            myArray = response
            buildTable(myArray)
            console.log(myArray)
        }
    })

    $('#search-input').on('keyup', function (){
        var value = $(this).val()
        console.log('Value:', value)
        var data = searchTable(value, myArray)
        buildTable(data)
    })

    function searchTable(value, data){
        var filteredData = []
        for (var i = 0; i < data.length; i++){
            value = value.toLowerCase()
            var id = data[i].id
            var arrivalDate = data[i].arrival_date
            if (!arrivalDate){
                arrivalDate = "no date set.";
            }
            var departureDate = data[i].departure_date
            if (!departureDate){
                departureDate = "no date set.";
            }
            var status = data[i].status.toLowerCase()
            var employeeID = data[i].employee_id
            var street = data[i].place_of_departure.address.address.toLowerCase()
            + ', ' + data[i].place_of_departure.address.city.name.toLowerCase()
            + ', ' + data[i].place_of_departure.address.city.country.name.toLowerCase()
            if (arrivalDate.includes(value) ||
                id == value ||
                arrivalDate == value ||
                departureDate == value ||
                status.includes(value) ||
                employeeID == value ||
                street.includes(value))
            {
                filteredData.push(data[i])
            }
        }

        return filteredData
    }

    $('th').on('click', function(){
        var column = $(this).data('column')
        var order = $(this).data('order')
        console.log('Column was clicked', column, order)
        var text = $(this).html()
        text = text.substring(0, text.length -1)

        if (order == 'desc'){
            $(this).data('order', 'asc')
            myArray = myArray.sort((a,b) => a[column] < b[column] ? 1 : -1)
            // myArray = myArray.sort((a, b) => a.place_of_departure.address.address
            //     .localeCompare(b.a.place_of_departure.address.address))
            text += '&#9650'
        } else {
            $(this).data('order', 'desc')
            myArray = myArray.sort((a,b) => a[column] > b[column] ? 1 : -1)
            // myArray = myArray.sort((a, b) => a.place_of_departure.address.address
            //     .localeCompare(b.a.place_of_departure.address.address))
            text += '&#9660'
        }
        $(this).html(text)
        buildTable(myArray)
    })

    buildTable(myArray)

    function buildTable(data){
        var table = document.getElementById('myTable')
        table.innerHTML = ''
        for (var i = 0; i < data.length; i++){
            if (!data[i].arrival_date){
                data[i].arrival_date = "No date set."
            }
            if (!data[i].departure_date){
                data[i].departure_date = "No date set."
            }
            var row = `<tr>
							<td>${data[i].id}</td>
							<td>${data[i].departure_date}</td>
							<td>${data[i].arrival_date}</td>
							<td>${data[i].status}</td>
							<td>${data[i].employee_id}</td>
							<td>${data[i].place_of_departure.address.address + ', ' +
                                  data[i].place_of_departure.address.city.name + ', ' +
                                  data[i].place_of_departure.address.city.country.name}</td>
					  </tr>`
            table.innerHTML += row
        }
    }

</script>
</body>
</html>