<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Users</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="../static/css/buttons.css" th:href="@{/css/buttons.css}" rel="stylesheet"/>

</head>
<body>
<!--NAVBAR-->
<nav th:replace="navbar.html :: navbar-form"></nav>

<!--CRUD and More Buttons-->
<div id="outer" style="margin-top: 150px">
    <button class="button button2" onclick="toggleHideButton()">Create</button>
    <button class="button button2" onclick="toggleHideButton2()">Update</button>
    <button class="button button2" onclick="toggleHideButton3()">Delete</button>
    <button class="button button2">More</button>
    <div class="hidden" id="createDIV">
        Create requires only address ID. You can go to addresses to check existing ones or to create a new one.
        <form onsubmit="createProfile()" id="registrationForm">
            Address ID : <input type="text" name="address_id" /> <br />
            <input type="submit" value="Create" />
        </form>
        <a class="button button2" href = "#" th:href="@{/addresses}" th:target="_blank">Go To Addresses</a>
    </div>
    <div class="hidden" id="updateDIV">
        This is my Update element.
    </div>
    <div class="hidden" id="deleteDIV">
        This is my Delete element.
    </div>
</div>
<!-- JavaScript for hiding buttons-->
<script>
    function toggleHideButton() {
        var x = document.getElementById("createDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function toggleHideButton2() {
        var x = document.getElementById("updateDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function toggleHideButton3() {
        var x = document.getElementById("deleteDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
<!-- JavaScript for Create-->
<script>
    function createProfile()
    {
        var data = $("#registrationForm").serializeArray();
        $.ajax({
            method:      'POST',
            url:         'http://localhost:8080/warehouses',
            headers:      {'Authorization':'a.d@gmail.com'},
            dataType:    'JSON', //You can also define this as Json
            data:         data,
            success:      function() {
                console.log("Success!")},
            error:        function(error) {
                console.log("Error!", err)
            }
        });
    }
</script>
<!-- HTML Table and Search bar-->
<div class="row">
    <div class="col">
        <div class="card card-body">
            <p>Search by id, street,city or country in the bar below. Combined filtration and sort is allowed.</p>
            <input id="search-input" class="form-control" type="text">
        </div>
    </div>
</div>
<table class="table table-striped">
    <tr  class="bg-info">
        <th data-column="id" data-order="desc">ID &#9660</th>
        <th data-column="username" data-order="desc">Username &#9660</th>
        <th data-column="firstNameLastName" data-order="desc">Full Name &#9660</th>
        <th data-column="email" data-order="desc">Email &#9660</th>
        <th data-column="address" data-order="desc">Address of Operations &#9660</th>
        <th data-column="role" data-order="desc">Role &#9660</th>
        <th data-column="listOfParcels" data-order="desc">Parcels &#9660</th>
    </tr>

    <tbody id="myTable">

    </tbody>
</table>
<!-- JavaScript for Table and Search bar-->
<script>
    var myArray = []


    $.ajax({
        method:'GET',
        headers: {'Authorization':'a.d@gmail.com'},
        url:'http://localhost:8080/api/users/all',
        success:function(response){
            myArray = response
            buildTable(myArray)
            console.log(myArray)
        }
    })

    $('#search-input').on('keyup', function (){
        var value = $(this).val()
        console.log('Value:', value)
        var data = searchTable(value, myArray)
        buildTable(data)
    })

    function searchTable(value, data){
        var filteredData = []
        for (var i = 0; i < data.length; i++){
            value = value.toLowerCase()
            var id = data[i].primary_key
            var username = data[i].username.toLowerCase()
            var fullName = data[i].firstName.toLowerCase() + " " + data[i].lastName.toLowerCase();
            var email = data[i].email.toLowerCase()
            var address = "";
            var role = null;
            if (data[i].address == null){
                role = "employee" }
            else {
                role = "customer"
                address = data[i].address.address.toLowerCase() + ', ' +
                    data[i].address.city.name.toLowerCase() + ', ' +
                    data[i].address.city.country.name.toLowerCase()
            }
            var customerParcels = "";
            for (var j = 0; j < data[i].listOfParcels.length; j++) {
                customerParcels += data[i].listOfParcels[j].id + ", ";
            }
            if (id == value ||
                username.includes(value) ||
                fullName.includes(value) ||
                email.includes(value) ||
                address.includes(value) ||
                role.includes(value) ||
                customerParcels.includes(value))
            {
                filteredData.push(data[i])
            }
        }
        return filteredData
    }

    $('th').on('click', function(){
        var column = $(this).data('column')
        var order = $(this).data('order')
        console.log('Column was clicked', column, order)
        var text = $(this).html()
        text = text.substring(0, text.length -1)

        if (order == 'desc'){
            $(this).data('order', 'asc')
            myArray = myArray.sort((a,b) => a[column] < b[column] ? 1 : -1)
            text += '&#9650'
        } else {
            $(this).data('order', 'desc')
            myArray = myArray.sort((a,b) => a[column] > b[column] ? 1 : -1)
            text += '&#9660'
        }
        $(this).html(text)
        buildTable(myArray)
    })

    buildTable(myArray)

    function buildTable(data){
        var table = document.getElementById('myTable')
        table.innerHTML = ''
        for (var i = 0; i < data.length; i++){
            var role = null;
            var employeeAdress = "No address for Employees.";
            var employeeParcels = "No parcels for Employees.";
            var customerParcels = "";
            if (data[i].address == null){
                role = "Employee"
                var row = `<tr>
							<td>${data[i].id}</td>
							<td>${data[i].username}</td>
							<td>${data[i].firstName + " " + data[i].lastName}</td>
							<td>${data[i].email}</td>
							<td>${employeeAdress}</td>
							<td>${role}</td>
							<td>${employeeParcels}</td>
					  </tr>`
            table.innerHTML += row
            } else {
                for (var j = 0; j < data[i].listOfParcels.length; j++) {
                    customerParcels += data[i].listOfParcels[j].id + ", ";
                }

                role = "Customer"
                var row = `<tr>
							<td>${data[i].id}</td>
							<td>${data[i].username}</td>
							<td>${data[i].firstName + " " + data[i].lastName}</td>
							<td>${data[i].email}</td>
							<td>${data[i].address.address + ', ' +
                data[i].address.city.name + ', ' +
                data[i].address.city.country.name}</td>
							<td>${role}</td>
							<td>${customerParcels}</td>
					  </tr>`
                table.innerHTML += row
            }
        }
    }

</script>
</body>
</html>