<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Parcels</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<!--NAVBAR-->
<nav th:replace="navbar.html :: navbar-form"></nav>


<header class="masthead bg-primary text-white text-center ">
    <div th:if="${oneUserParcels.isEmpty()}">
        <h2 th:text="#{parcels.empty}">No Parcels</h2>
    </div>

    <div th:unless="${oneUserParcels.isEmpty()}">
        <h2 th:text="#{all.parcels}">We have parcels.</h2>
        <br/>

        <div class="tableOUR">
            <div class="headerOUR">
                <div class="cellOUR" th:text="#{parcel.id}">Id</div>
                <div class="cellOUR" th:text="#{parcel.arrival.date}">Arrival Date</div>
                <div class="cellOUR" th:text="#{parcel.departure.date}">Departure Date</div>
                <div class="cellOUR" th:text="#{parcel.category}">Category</div>
                <div class="cellOUR" th:text="#{parcel.customer}">Customer</div>
                <div class="cellOUR" th:text="#{parcel.shipment}">Shipment</div>
                <div class="cellOUR" th:text="#{parcel.warehouse}">Warehouse</div>
                <div class="cellOUR" th:text="#{parcel.weight}">Weight</div>
            </div><br/>

            <div class="rowOUR" th:each="oneParcel : ${oneUserParcels}">
                <div class="cellOUR" th:text="${oneParcel.getId()}">Id</div>
                <div class="cellOUR" th:text="${oneParcel.getShipment().getDeparture_date()}">Departure date</div>
                <div class="cellOUR" th:text="${oneParcel.getShipment().getArrival_date()}">Arrival date</div>
                <div class="cellOUR" th:text="${oneParcel.getCategory().getCategory()}">Goods</div>
                <div class="cellOUR" th:text="${oneParcel.getCustomer().getFirstName() + ' ' +
                                                 oneParcel.getCustomer().getLastName()}">Stefan</div>
                <div class="cellOUR" th:text="${oneParcel.getShipment().getId()}">1</div>
                <div class="cellOUR" th:text="${oneParcel.getWarehouse().getAddress().getAddress()}">ul. Ulitca 3</div>
                <div class="cellOUR" th:text="${oneParcel.getWeight()}">10.5</div>
            </div>
        </div>
    </div>
</header>

</body>
</html>